@mixin adjustFretSize($total-frets, $mobile) {
  $total-frets: $total-frets + 1; // compensate for the nut

  @if $mobile == false {
    @for $i from 1 through $total-frets {
      .fret:nth-child(#{$i}) {
        @if ($total-frets - $i) > 8 {
          flex: $total-frets - $i;
        }

        @else {
          flex: 8;
        }
      }
    }

    .fret:first-child {
      flex: 5;
    }
  } @else {
    $mobile-max-fret-height: 170px;
    $mobile-min-fret-height: 50px;

    @for $i from 1 through $total-frets {
      .fret:nth-child(#{$i}) {
        @if ($total-frets - $i) > 8 {
          height: $mobile-max-fret-height - $i * 10;
        }

        @else {
          flex: $mobile-min-fret-height;
        }
      }
    }

    .fret:first-child {
      flex: $mobile-min-fret-height / 2;
    }
  }
}