@import '_vars';
@import '_mixins';
@import '_animations';

.neck-container {
  overflow-x: auto;
}

.neck {
  background: $fretboard-bg;
  position: relative;
}

.string {
  display: flex;
  position: relative;
  height: $string-height;
  flex: 1;
  
  &::after {
    border-bottom: $string-display-width solid $string-border-color;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: - ($string-display-width / 2);
    width: 100%;
  }
}

.fret {
  border-right: $fret-border;
  height: 100%;
  flex: 1;
  overflow: visible;
  position: relative;
  text-align: center;

  &:first-child {
    background: $nut-color;
  }
}

.note {
  @include text-contrast($fretboard-bg);
  color: $text-paper;
  background: rgba(255,255,255,0.35);
  border-radius: 100%;
  display: block;
  height: $note-size;
  font-size: $note-text-size;
  font-weight: 700;
  left: 50%;
  line-height: $note-size;
  margin-left: - ($note-size / 2);
  margin-top: - ($note-size / 2);
  position: absolute;
  top: 50%;
  width: $note-size;
  z-index: 1;
  transition: transform .75s ease-in-out;
  text-shadow: none;

  &:hover {
    color: $primary;
  }

  &.show-when-highlighted {
    display: none;
  }
  
  &.highlight {
    animation-duration: .75s;
    animation-name: note-entry;
    animation-timing-function: ease-in-out;
    animation-duration: .75s;
    animation-name: note-entry;
    animation-timing-function: ease-in-out;
    background: $highlight;
    color: #fff;

    &.show-when-highlighted {
      display: block;
    }
  }

  &.selected {
    background: $secondary;
    color: #fff;
    box-sizing: border-box;
  }

  &.root {
    background: $primary;
  }
}

.dot {
  background: $dot-background;
  border-radius: 100%;
  border: $dot-border;
  content: '';
  height: $dot-size;
  display: block;
  left: 50%;
  margin-left: - ($dot-size / 2);
  margin-top: - ($dot-size / 2);
  position: absolute;
  top: 0%;
  width: $dot-size;
}

.dot-double-top {
  @extend .dot;
  top: -100%;
  margin-top: -12px;
}

.dot-double-bot {
  @extend .dot;
  bottom: $string-height;
  margin-top: -12px;
}

.fret:first-child .note {
  color: #fff;
}

.string:nth-child(4) .fret:nth-child(4)::after,
.string:nth-child(4) .fret:nth-child(6)::after,
.string:nth-child(4) .fret:nth-child(8)::after,
.string:nth-child(4) .fret:nth-child(10)::after,
.string:nth-child(4) .fret:nth-child(16)::after,
.string:nth-child(4) .fret:nth-child(18)::after,
.string:nth-child(4) .fret:nth-child(20)::after,
.string:nth-child(4) .fret:nth-child(22)::after {
  @extend .dot;
}

.string:nth-child(4) .fret:nth-child(13)::after,
.string:nth-child(4) .fret:nth-child(25)::after {
  @extend .dot-double-top;
}

.string:nth-child(5) .fret:nth-child(13)::after,
.string:nth-child(5) .fret:nth-child(25)::after {
  @extend .dot-double-bot;
}

@media (min-width: 680px) and (orientation: landscape) {
  @include adjustFretSize(24, false);

  .string:nth-child(1) {
    margin-top: 20px;
  }
  // fret markers
  .string:nth-child(1) .fret::before {
    content: attr(data-fret);
    color: #fff;
    display: block;
    font-weight: bold;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    text-align: center;
    top: -20px;
    width: 20px;
  }
}

@media screen and (max-width: 1337px) {
  @include adjustFretSize(24, false);

  .neck {
    width: 200%;
  }

  .string {
    &::after {
      left: 0%;
    }
  }
}

@media screen and (max-width: 680px) and (orientation: portrait) {
  .neck-container {
    overflow: inherit;
  }

  @include adjustFretSize(24, true);
  // fret markers
  .string:nth-last-child(1) .fret::before {
    content: attr(data-fret);
    color: #fff;
    display: block;
    height: 20px;
    font-weight: bold;
    left: -25px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 20px;
  }

  .neck-container {
    overflow-y: visible;
    height: 100%;
  }

  .neck {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }
  
  .string {
    flex-direction: column;
    height: auto;

    &::after {
      border-bottom: none;
      border-right: $string-display-width solid $string-border-color;
      height: 100%;
      left: 50%;
      margin-left: - ($string-display-width / 2);
      width: 1px;
      top: 0;
    }
  }

  .fret {
    border-bottom: $fret-border;
    border-right: none;
    flex: none;
  }

  .note {
    transform: scale(1.35);
  }

  .dot {
    width: $dot-size * 2;
    height: $dot-size * 2;
    top: 50%;
    margin-top: - $dot-size;
    margin-left: - $dot-size;
    left: 100%;
  }

  .dot-double-top {
    left: 0%;
  }

  .dot-double-bot {
    left: 300%;
  }
}
