@import url('https://fonts.googleapis.com/css?family=Dosis|Fjalla+One|Roboto+Slab|Slabo+27px|Titillium+Web');

// FLAT
$_fc: #1abc9c;
$_fgr: #2ecc71;
$_fb: #3498db;
$_fp: #9b59b6;
$_fdb: #34495e;
$_fy: #f1c40f;
$_for: #e67e22;
$_fr: #e74c3c;
$_fw: #ecf0f1;
$_fg: #95a5a6;

$roboto-slab:'Roboto Slab', serif;
$titillium: 'Titillium Web', sans-serif;
$fjalla-one: 'Fjalla One', sans-serif;
$dosis: 'Dosis', sans-serif;
$slabo: 'Slabo 27px', serif;

// MATERIALS
$maple: #dac4a5;
$rosewood: #694932;
$ivory: #efd8c8;
$ebony: #1d1917;
$graphite: #1f1f1f;
$paper: #dad1c3;

// SHADES
$dark: $graphite;
$light: $_fw;
$medium: lighten($dark, 25%);
$highlight: $_fr;

// APPLICATION
$bg: lighten($graphite, 5%);
$accent: $highlight;

$primary: $_fr;
$secondary: $_fc;
$tertiary: $_for;

$text-color: $light;
$text-light: $light;
$text-dark: $dark;
$disabled: $_fg;

$padding-size: 40px;

// APPLICATIOM STATES
$disabled: $_fg;

// FRETBOARD
$nut-color: $dark;
$fretboard-bg: $maple;

// STRINGS
$string-count: 6;
$string-height: percentage(1 / $string-count);
$string-height: 60px;
$string-display-width: 2px;
$string-border-color: rgba(255,255,255,0.5);

// FRETS
$fret-border-color: #969696;
$fret-border: 3px solid $fret-border-color;

// NOTES
$note-text: $bg;
$note-color: $text-color;
$note-highlight: $primary;
$note-selection: $_for;
$note-size: 30px;
$note-text-size: 16px;

// FRET MARKERS (DOTS)
$dot-size: 24px;
$dot-background: #fff;
$dot-border: none;
$dot-size-mobile: $dot-size * 2;

// EFFECTS
$hard-shadow: 0 1px 1px rgba(0,0,0,0.5);
$small-shadow: 0 1px 1px rgba(0,0,0,0.25);