// Pennello https://color.adobe.com/Pennello-color-theme-9111250/
$aa: #C15778;
$bb: #1C676D;
$cc: #52ADA0;
$dd: #D9D0C7;
$ee: #575F5B;

$primary: #297b8c;
$secondary: #de683a;
$tertiary: #76d051;
$secondary-alt: #B6D051;

$dark: #1B1E26;
$light: #D9D0C7;

$primary: $primary;
$secondary: $secondary;
$fretboard-bg: #59463E;
$fretboard-bg: #cecece;
$fretboard-bg: $light;

// neck
$nut-color: $dark;

//strings
$string-count: 6;
// sass is weird? 1 = 100; 100 / 6 strings
$string-height: percentage(1 / $string-count); 
$string-display-width: 2px;
$string-border-color: rgba(255,255,255,0.5);

// frets
$fret-border-color: #969696;
$fret-border: 3px solid $fret-border-color;

// notes
$note-text: #3a3a3a;
$note-highlight: $secondary;
$note-size: 30px;
$note-text-size: 16px;

// dots
$dot-size: 24px;
$dot-background: #fff;
$dot-border: none;
$dot-size-mobile: $dot-size * 2;

// effects
$hard-shadow: 0 1px 1px rgba(0,0,0,0.8);
$small-shadow: 0 1px 1px rgba(0,0,0,0.25);