@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import '_vars';
@import '_neck';

*,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background: $background-landscape;
  background-repeat: no-repeat;
  background-size: cover;
  color: $text-color;
  font-family: 'Roboto Condensed', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  padding: 20px;
  text-transform: uppercase;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  margin: 5px 0 5px 0;
  padding: 0;
}


a {
  color: $text-color;
  text-decoration: none;

  &.setting.active {
    color: $text-color;
    i.fa {
      color: #fff;
    }
  }

  &.active,
  &:hover,
  &.setting:hover,
  &[href^='mailto'] {
    color: #fff;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  line-height: 32px;
  font-size: 18px;
  display: inline;
  margin-right: 22px;

  &:last-child a {
    border-bottom: none;
  }
}

.note-filters {
  label {
    color: #fff;
    margin-right: 10px;
  }
  
  & i.fa {
    font-size: 20px;
    vertical-align: bottom;
  }
}

@media screen and (max-width: 680px) and (orientation: portrait) {
  body {
    background: $background-portait;
  }

  li {
    display: block;
  }
}

@media screen and (max-width: 1337px) and (orientation: landscape) {
  body {
    background: $background-landscape-sm;
  }
}