@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import '_vars';
@import '_funcs';
@import '_neck';

*,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  background: $bg;
  background-repeat: no-repeat;
  background-size: cover;
  color: $text-color;
  font-family: $serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 5px 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  margin-bottom: 20px;
}

a {
  color: $primary;
  text-decoration: none;
}

i {
  color: $primary;
}

// APPLICATION STATE
.animated {
  transition: all 0.5s ease;
  will-change: transform;
}

.on-canvas {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.off-canvas {
  opacity: 0;
  transform: translateY(-200%);
  visibility: hidden;
}

// MAIN APPLICATION
.app-header {
  background: $light;
  box-shadow: $large-shadow;
  color: $dark;
  font-family: $sans-serif;
  padding: $padding-size $padding-size $padding-size / 4 $padding-size;
  position: relative;
  z-index: 5;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;

  .version {
    font-size: 12px;
    padding: 3px;
    color: $primary;
    border: 1px solid $primary;
    position: absolute;
    margin-left: 10px;
    top: 3px;
    line-height: inherit;
  }
}

.hero-text {
  color: $medium;
  font-size: 18px;
  line-height: 20px;
  margin: 16px 0;
  text-transform: uppercase;

  em {
    color: $secondary;
    font-style: normal;
  }

  b {
    color: $dark;
  }
}

.control {
  background: none;
  border: 1px solid $light;
  border-radius: 10px;
  color: $highlight;
  border-color: $highlight;
  font-family: $sans-serif;
  font-size: 14px;
  margin-right: 10px;
  padding: 5px;
  text-transform: uppercase;
  transition: all 0.15s ease-in;

  &:hover {
    color: $dark;
    border-color: $dark;
  }

  &.disabled,
  &.off {
    color: $disabled;
    border-color: $disabled;
  }
}

.note-filters {
  label {
    color: #fff;
    margin-right: 10px;
  }
  
  & i.fa {
    font-size: 20px;
    vertical-align: bottom;
  }
}

.lists-container {
  padding: $padding-size / 2 $padding-size;
  display: flex;
  
  h2 {
    color: $secondary;
  }

  a {
    color: $light;

    &:hover {
      color: $accent;
    }
  }
}

.list-container {
  margin-right: $padding-size;
  font-weight: 100;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  columns: 2;

  li {
    line-height: 32px;
    font-size: 18px;
    margin-right: 22px;
  }
}

.info-help {
  background: $paper;
  border-left: solid 10px $primary;
  box-shadow: $large-shadow;
  padding: $padding-size / 2 $padding-size;
  color: $text-paper;
  columns: 2;
  font-family: $serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  overflow-x: auto;
  width: 100%;
  z-index: 2;

  h2 {
    break-before: column;
  }

  ul {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    list-style: none;

    & > li {
      margin-bottom: 15px;
    }

    ol {
      padding: 0 0 0 20px;
      margin: 0;
    }

    ol li {
      border-bottom: 1px dashed $text-paper;
      padding: 10px 0;
    }
  }
}

.content-wrapper {
  max-width: 600px;
}

.chord-name {
  color: $primary;
}

.chord-notes {
  color: $secondary;
}

// MOBILE PORTAIT
@media screen and (max-width: 680px) and (orientation: portrait) {
  .neck-container {
    padding: 0 $padding-size / 2;
  }

  .lists-container {
    display: block;
  }

  .list {
    columns: inherit;
  }

  .info-help {
    overflow-x: inherit;
    columns: inherit;

    ul {
      columns: inherit;
      padding: 0;
    }
  }

  li {
    display: block;
  }

  .control {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
    text-align: center;
    width: 100%;
  }
}